.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 100%;
    padding: 20px 0;
}

/* ------------ Button -------------- */

.navButton {
    border-radius: var(--radius-sm);
    border: 2px solid var(--primary);

    padding: 4px 12px;

    transition: 
        background-color .3s ease,
        color .3s ease,
        transform 0.1s ease;

    user-select: none;
    white-space: nowrap;
}

.navButton:hover {
    background-color: var(--primary);
    color: var(--surface);
}

.navButton:active {
    transform: scale(0.95);
}

/* ----------------------------------- */